---
import PropertyCard from "@/components/PropertyCard";
import type { PropertyCardProps } from "@/types";
import Layout from "@layouts/Layout.astro"


const currentPath = Astro.url.pathname;

let headerUrl: string;

let cottageCardData: PropertyCardProps['property'] = {
	title: 'Cottage',
	imgUrl: "",
	description: 'This is the description for the cottage',
	urlEndpoint: '/properties/captains-cottage'
}

let hideawayCardData: PropertyCardProps['property'] = {
	title: 'Hideaway',
	imgUrl: "",
	description: 'This is the description for the hideaway',
	urlEndpoint: '/properties/captains-hideaway'
}

try {
	const response = await fetch(`${currentPath}api/images/home.json`);

	if (!response.ok) {
		console.log(response);
		console.error('Failed to fetch data');
	}
	const data = await response.json();
	const homePgImgs = data.getHomePgImgs;

	headerUrl = homePgImgs.headerImgUrl;
	cottageCardData.imgUrl = homePgImgs.cottageImgUrl;
	hideawayCardData.imgUrl = homePgImgs.hideawayImgUrl;


} catch (error) {
	console.error('Failed to fetch data', error);
}
---

<Layout title="Captain's Rentals">

	<main>
		
		<img />
		<div>
			<div>
				<h1>
					Welcome to Captain's Properties <br /> on Lake Superior
				</h1>
			</div>
		</div>
		<div>
			<PropertyCard property={cottageCardData}/>
			<PropertyCard property={hideawayCardData}/>
		</div>
		
	</main>
</Layout>