---
import Layout from "@layouts/Layout.astro"


const currentPath = Astro.url.pathname;

try {
	const response = await fetch(`${currentPath}/api/images/home.json`);

	if (!response.ok) {
		console.log(response);
		console.error('Failed to fetch data');
	}
	const data = await response.json();


}
---


<main>

		<img />
		<div>
			<div>
				<h1>
					Welcome to Captain's Properties <br /> on Lake Superior
				</h1>
			</div>
		</div>
		<div>
			
		</div>

</main>