---
const currentYear = new Date().getFullYear();
---

<footer class='bg-secondary p-4 mt-4 border-t-grey flex justify-around items-center w-full'>
	<div class='flex flex-row'>
		<p>© {currentYear}</p>
		<a class='font-black' href='https://brahmvanhouzen.studio'>Brahm Van Houzen</a>
	</div>
	<div class='py-0 px-4 font-black'>
		<a class='border-r-black' href='/contact'>Contact</a>
		<a href='/admin'>Admin</a>
	</div>
</footer>
